<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bozecps.viewBoard.repository.ViewBoardStatusMapper">
  <resultMap id="BaseResultMap" type="bozecps.viewBoard.domain.ViewBoardStatus">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="view_board_info_id" jdbcType="BIGINT" property="viewBoardInfoId" />
    <result column="view_board_status_name_id" jdbcType="BIGINT" property="viewBoardStatusNameId" />
    <result column="current_status_quantities" jdbcType="VARCHAR" property="currentStatusQuantities" />
  </resultMap>
  <sql id="Base_Column_List">
    id, view_board_info_id, view_board_status_name_id, current_status_quantities
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from view_board_status
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByTypeAndStatusName" parameterType="bozecps.viewBoard.domain.vo.FreedViewBoardVO" resultMap="BaseResultMap">
        select
        vbs.*
        from view_board_status vbs
        left join view_board_info vbi on vbs.view_board_info_id = vbi.id
        where vbi.view_board_type = #{freedViewBoardType,jdbcType=VARCHAR}
            and vbs.view_board_status_name_id = #{status,jdbcType=VARCHAR}

    </select>
    <select id="selectListByTypeAndStatusName" parameterType="bozecps.viewBoard.domain.vo.FreedViewBoardVO" resultMap="BaseResultMap">
        select
        vbs.*
        from view_board_status vbs
        left join view_board_info vbi on vbs.view_board_info_id = vbi.id
        where vbi.view_board_type = #{freedViewBoardType,jdbcType=VARCHAR}

    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from view_board_status
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="bozecps.viewBoard.domain.ViewBoardStatus">
    insert into view_board_status (id, view_board_info_id, view_board_status_name_id,
      current_status_quantities)
    values (#{id,jdbcType=BIGINT}, #{viewBoardInfoId,jdbcType=BIGINT}, #{viewBoardStatusNameId,jdbcType=BIGINT},
      #{currentStatusQuantities,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bozecps.viewBoard.domain.ViewBoardStatus">
    insert into view_board_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="viewBoardInfoId != null">
        view_board_info_id,
      </if>
      <if test="viewBoardStatusNameId != null">
        view_board_status_name_id,
      </if>
      <if test="currentStatusQuantities != null">
        current_status_quantities,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="viewBoardInfoId != null">
        #{viewBoardInfoId,jdbcType=BIGINT},
      </if>
      <if test="viewBoardStatusNameId != null">
        #{viewBoardStatusNameId,jdbcType=BIGINT},
      </if>
      <if test="currentStatusQuantities != null">
        #{currentStatusQuantities,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bozecps.viewBoard.domain.ViewBoardStatus">
    update view_board_status
    <set>
      <if test="viewBoardInfoId != null">
        view_board_info_id = #{viewBoardInfoId,jdbcType=BIGINT},
      </if>
      <if test="viewBoardStatusNameId != null">
        view_board_status_name_id = #{viewBoardStatusNameId,jdbcType=BIGINT},
      </if>
      <if test="currentStatusQuantities != null">
        current_status_quantities = #{currentStatusQuantities,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="bozecps.viewBoard.domain.ViewBoardStatus">
    update view_board_status
    set view_board_info_id = #{viewBoardInfoId,jdbcType=BIGINT},
      view_board_status_name_id = #{viewBoardStatusNameId,jdbcType=BIGINT},
      current_status_quantities = #{currentStatusQuantities,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
